@{
    ViewBag.Title = "Dokumentacja";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <br />
    <h3>Spis treści</h3>
    <ul>
        <li><a href="#cel">Cel projektu</a></li>
        <li><a href="#biznes">Zastosowanie biznesowe</a></li>
        <li><a href="#model">Modele</a></li>
        <li><a href="#kontroler">Kontrolery</a></li>
        <li><a href="#widok">Widoki</a></li>
        <li><a href="#baza">Baza danych</a></li>
    </ul>
    <br />
    <div id="cel">
        <h3>Cel projektu</h3>
        <p>
            Celem projektu jest stworzenie aplikacji internetowej spiętej z lokalną bazą danych, służącej do zarządzania sklepem z warzywami. Aplikacja ma tworzyć bazę danych zawierającą informacje na temat warzyw sprzedawanych w sklepie(ich cenę oraz dostępność), sprzedawców(imiona i nazwiska) oraz przeprowadzonych transakcji(sprzedawca odpowiedzialny za nie, data oraz kwota). Aplikacja ma pozwalać na wykonywanie podstawowych operacji na danych:
            <ol>
                <li>dodawanie nowych rekordów (warzyw, sprzedawców czy dokonanych transakcji) do bazy</li>
                <li>dostęp do danych już istniejących i ich wyświetlenie</li>
                <li>wprowadzanie zmian w istniejących już rekordach</li>
                <li>usuwanie rekordów z bazy</li>
            </ol>
            Aplikacja musi zapewniać łatwy dostęp do tabel z asortymentem, sprzedawcami oraz transakcjami.
        </p>
    </div>
    <br />
    <div id="biznes">
        <h3>Zastosowanie biznesowe</h3>
        <p>
            Aplikacja umożliwi skuteczne zarządzanie asortymentem sklepu - dodawanie czy usuwanie produktów z oferty, w zależności od ich dostępności. Pozwoli też monitorować stan magazynowy, co może pomóc utrzymać odpowiednią dostępność towarów.
            Dzięki aplikacji możliwe stanie się także monitorowanie sprzedaży, co może dostarczyć cennych informacji na temat popularności danych warzyw czy efektów pracy danego pracownika. Informacje te mogą pomóc w podejmowaniu kluczowych decyzji, np. dotyczących uzupełniania asortymentu czy polityki kadrowej.
            Aplikacja pozwoli także ulepszyć obsługę klienta. Pracownicy będą mieli dostęp do aktualnych informacji o produktach i ich dostępności czy cenie, dzięki czemu będą w stanie szybko i precyzyjnie odpowiedzieć na pytania zadawane przez klientów. Sprawna obsługa sprawi, że wizyta w sklepie będzie dla klientów przyjemnym doświadczeniem, co z kolei zwiększy szanse na to, że będą oni ponownie decydować się na zakupy w sklepie.
        </p>
    </div>
    <div id="model">
        <br />
        <h3>Modele</h3>
        <h5>Sprzedawca</h5>
        <p>Model ten zawiera publiczną klasę <i>Sprzedawca</i>. Pozwala on na obsługiwanie i przechowywanie danych na temat pracowników sklepu, takich jak ich imiona, nazwiska czy identyfikator, który stanie się kluczem podstawowym w tabeli w bazie danych. Zawiera dwa konstruktory-nieparametryczny oraz parametryczny ustawiający wszystkie właściwości. Właściwość <i>Zakupy</i> przechowuje kolekcję obiektów <i>Zakup</i> powiązanych z danym sprzedawcą.</p>
        <h5>Warzywo</h5>
        <p>Model zawiera publiczną klasę <i>Warzywo</i>, która zawiera właściwości reprezentujące dane na temat warzyw- ich nazwę, cenę, ilość na stanie oraz identyfikator(klucz podstawowy). Oprócz tych właściwości znajdują się w niej dwa konstruktory- nieparametryczny oraz parametryczny, który ustawia wszystkie wymieniowe wcześniej właściwości. Wirtualna właściwość <i>ZakupyJednostkowe</i> zawiera wszystkie zakupy <i>Zakup</i> zawierające dane warzywo.</p>
        <h5>ZakupJednostkowy</h5>
        <p>Model ten zawiera publiczną klasę <i>ZakupJednostkowy</i>. Właściwości w modelu przechowują dane na temat identyfikatora zakupu jednostkowego (klucza podstawowego w tabeli), wagi, ceny oraz identyfikatorów warzyw i zakupów(klucze obce w tabeli). W klasie utworzone są także dwie właściwości nawigacji: <i>Warzywo</i> oraz <i>Zakup</i>. Pozwalają one na przyporządkowanie do zakupu jednostkowego tylko jednego warzywa i jednego zakupu. Model zawiera także dwa konstruktory-nieparametryczny oraz parametryczny, ustawiający właściwości <i>Waga</i>, <i>Warzywo</i>, <i>Zakup</i> oraz <i>Cena</i> na odpowiednie wartości.</p>
        <h5>Zakup</h5>
        <p>
            Model ten zawiera publiczną klasę <i>Zakup</i>, zawierającą właściwości reprezentujące: identyfikator zakupu, identyfikator sprzedawcy(klucz obcy), datę oraz sprzedawcę odpowiedzialnego za dany zakup. Wirtualna właściwość <i>ZakupyJednostkowe</i> przyporządkowuje do zakupu wszystkie obiekty <i>ZakupJednostkowy</i> do niego należące. W klasie występują także dwa konstruktory-nieparametryczny oraz parametryczny, ustawiający identyfikator zakupu, sprzedawcę odpowiedzialnego za zakup oraz datę zakupu. Jeśli wprowadzona data zakupu będzie niepoprawna, zostanie ona ustawiona na bieżącą datę. W modelu znajduje się także metoda, służąca do sumowania cen zakupów jednostkowych.
        </p>
    </div>
    <br />
    <div id="kontroler">
        <h3>Kontrolery</h3>
        <h5>HomeController</h5>
        <p>Ten kontroler odpowiada za wyświetlanie widoku strony startowej oraz strony z dokumentacją.</p>
        <h5>SprzedawcasController</h5>
        <p>
            Kontroler ten odpowiada za obsługiwanie wszelkich zdarzeń związanych ze sprzedawcami. Definiuje on różne akcje:
            <ul>
                <li><i>Index()</i>-akcja zwracająca widok ze wszystkimi sprzedawcami </li>
                <li><i>Details(int? id)</i>-akcja zwracająca szczegóły na temat sprzedawcy o danym id</li>
                <li><i>Create()</i>-akcja zwracająca widok formularza pozwalający na stworzenie nowego sprzedawcy</li>
                <li><i>Create([Bind(Include = "SprzedawcaId,Imie,Nazwisko")] Sprzedawca sprzedawca)</i>- akcja dodająca do bazy sprzedawcę stworzonego w formularzu</li>
                <li><i>Edit(int? id)</i>-akcja zwracająca widok formularza pozwalający na edytowanie informacji o sprzedawcy o danym id</li>
                <li><i>Edit([Bind(Include = "SprzedawcaId,Imie,Nazwisko")] Sprzedawca sprzedawca)</i>-akcja przekazująca formularz do bazy i zapisująca w niej zmienione dane</li>
                <li><i>Delete(int? id)</i>-akcja zwracająca widok wymagający potwierdzenia chęci usunięcia danego sprzedawcy</li>
                <li><i>DeleteConfirmed(int id)</i>-akcja usuwająca sprzedawcę o danym id z bazy</li>
            </ul>
            Podsumowując, kontroler obsługuje pełny CRUD związany ze sprzedawcą.
        </p>
        <h5>WarzywoesController</h5>
        <p>Kontroler ten odpowiada za reakcje na zdarzenia użytkownika, związane z warzywami. Definiuje podobne akcje jak <i>SprzedawcasController</i>, również obsługuje wszystkie podstawowe operacje na danych(dodawanie nowych warzyw, wyświetlanie warzyw będących już w bazie, edycję informacji o warzywach i usuwanie warzyw z bazy).</p>
        <h5>ZakupJednostkowiesController</h5>
        <p>
            Ten kontroler obsługuje zdarzenia związane z zakupami jednostkowymi. Tak jak pozostałe kontrolery odpowiada za wszystkie podstawowe operacje na danych. Oprócz tego, w akcji <i>Index()</i> wykorzystuje metodę <i>Include</i>, która pozwala na przyporządkowanie do zakupu jednostkowego danego warzywa oraz zakupu, do którego należy. Dodatkowo w akcji <i>Create</i> sprawdza czy na stanie jest wystarczająca ilość warzywa, które jest przedmiotem danego zakupu. Jeśli nie, ustawia kupowaną ilość na maksymalną dostępną. Aktualizuje on także dostępną ilość danego warzywa. Oblicza też kwotę należną za dany zakup.
        </p>
        <h5>ZakupsController</h5>
        <p>Kontroler ten odpowiada za obsługę wszelkich zdarzeń związanych z zakupami. Obsługuje wszystkie podstawowe operacje na danych-dodawanie, usuwanie, edytowanie oraz wyświetlanie. W akcji <i>Index()</i> wykorzystuje metodę <i>Include</i>, dzięki czemu może powiązać konkretnego sprzedawcę z zakupem.</p>
    </div>
    <br />
    <div id="widok">
        <h3>Widoki</h3>
        <h5>Widoki dla Home</h5>
        <ul>
            <li><i>Index</i>-odpowiada za stronę startową. Oprócz tekstu zawiera obrazek oraz przyciski przekierowujące użytkownika do innych miejsc w aplikacji.</li>
            <li><i>About</i>-zawiera dokumentację projektu. </li>
        </ul>
        <h5>Widoki Shared</h5>
        <ul>
            <li><i>_Layout</i>-odpowiada za menu z linkami nawigacyjnymi, znajdujące się na górze strony oraz za stopkę.</li>
            <li><i>Error</i>-wykorzystywany w razie wystąpienia błędu.</li>
        </ul>
        <h5>Widoki dla Sprzedawcy</h5>
        <ul>
            <li><i>Create</i>-zawiera formularz służący do tworzenia nowego sprzedawcy. Formularz ten zawiera trzy grupy, które dotyczą pól <i>Imie</i> i <i>Nazwisko</i> oraz przycisku służącego do zatwierdzenia danych sprzedawcy.</li>
            <li><i>Delete</i>-zawiera nagłówek z pytaniem o potwierdzenie usunięcia sprzedawcy. Wyświetlane są też dane sprzedawcy, przycisk umożliwiający potwierdzenie usunięcia sprzedawcy oraz link umożliwiający powrót do widoku <i>Index</i></li>
            <li><i>Details</i>-odpowiada za wyświetlenie szczegółów dotyczących sprzedawcy. Zawiera także linki do widoku umożliwiającego edycję danych oraz do widoku <i>Index</i>.</li>
            <li><i>Edit</i>-zawiera formularz umożliwiający edycję danych o sprzedawcy oraz przycisk umożliwiający zatwierdzenie tych zmian.</li>
            <li><i>Index</i>-wyświetla tabelę ze wszystkimi sprzedawcami oraz linki przekierowujące użytkownika do pozostałych widoków</li>
        </ul>
        <h5>Widoki dla Warzywa</h5>
        <ul>
            <li><i>Create</i>-zawiera formularz służący do tworzenia nowego warzywa. Formularz ten zawiera cztery grupy, które dotyczą pól <i>Nazwa</i>,<i>CenaZaKg</i> i <i>IloscNaStanie</i> oraz przycisku służącego do zatwierdzenia wprowadzonych danych.</li>
            <li><i>Delete</i>-zawiera nagłówek z pytaniem o potwierdzenie usunięcia. Wyświetlane są też informacje o warzywie, przycisk umożliwiający potwierdzenie jego usunięcia oraz link umożliwiający powrót do widoku <i>Index</i></li>
            <li><i>Details</i>-odpowiada za wyświetlenie szczegółów dotyczących warzywa. Zawiera także linki do widoku umożliwiającego edycję danych oraz do widoku <i>Index</i>.</li>
            <li><i>Edit</i>-zawiera formularz umożliwiający edycję danych o warzywie oraz przycisk umożliwiający zatwierdzenie tych zmian.</li>
            <li><i>Index</i>-wyświetla tabelę ze wszystkimi warzywami oraz linki przekierowujące użytkownika do pozostałych widoków- z  dodawaniem, usuwaniem, edytowaniem czy wyświetlaniem szczegółów danego rekordu</li>
        </ul>
        <h5>Widoki dla ZakupuJednostkowego</h5>
        <ul>
            <li><i>Create</i>-zawiera formularz służący do tworzenia nowego zakupu jednostkowego. Formularz ten zawiera cztery grupy, które dotyczą pól <i>Waga</i>,<i>ZakupId</i> i <i>WarzywoId</i>, przy czym wagę trzeba wpisać ręcznie, a identyfikatory warzywa i zakupu wybiera się z listy. W czwartej grupie znajduje się przycisk do zatwierdzenia wprowadzonych danych.</li>
            <li><i>Delete</i>-zawiera nagłówek z pytaniem o potwierdzenie usunięcia. Wyświetlane są też informacje o zakupie jednostkowym, przycisk umożliwiający potwierdzenie jego usunięcia oraz link umożliwiający powrót do widoku <i>Index</i></li>
            <li><i>Details</i>-odpowiada za wyświetlenie szczegółów dotyczących zakupu jednostkowego. Zawiera także linki do widoku umożliwiającego edycję danych oraz do widoku <i>Index</i>.</li>
            <li><i>Edit</i>-zawiera formularz umożliwiający edycję informacji o zakupie jednostkowym oraz przycisk umożliwiający zatwierdzenie tych zmian.</li>
            <li><i>Index</i>-wyświetla tabelę ze wszystkimi zakupami jednostkowymi oraz linki przekierowujące użytkownika do pozostałych widoków- z  dodawaniem, usuwaniem, edytowaniem czy wyświetlaniem szczegółów danego rekordu</li>
        </ul>
        <h5>Widoki dla Zakupu</h5>
        <ul>
            <li><i>Create</i>-zawiera formularz służący do tworzenia nowego zakupu. Formularz ten zawiera trzy grupy, które dotyczą pól <i>SprzedawcaId</i> i <i>Data</i>, przy czym datę można wpisać ręcznie, a identyfikator sprzedawcy wybiera się z listy. W trzeciej grupie znajduje się przycisk do zatwierdzenia wprowadzonych danych.</li>
            <li><i>Delete</i>-zawiera nagłówek z pytaniem o potwierdzenie usunięcia. Wyświetlane są też informacje o zakupie, przycisk umożliwiający potwierdzenie jego usunięcia oraz link umożliwiający powrót do widoku <i>Index</i></li>
            <li><i>Details</i>-odpowiada za wyświetlenie szczegółów dotyczących zakupu. Pokazuje też tabelę z poszczególnymi produktami, które składają się na dany zakup. Zawiera także linki do widoku umożliwiającego edycję danych oraz do widoku <i>Index</i>.</li>
            <li><i>Edit</i>-zawiera formularz, składający się z trzech grup, umożliwiający edycję informacji o zakupie oraz przycisk umożliwiający zatwierdzenie tych zmian.</li>
            <li><i>Index</i>-wyświetla tabelę ze wszystkimi zakupami oraz linki przekierowujące użytkownika do pozostałych widoków- z  dodawaniem, usuwaniem, edytowaniem, wyświetlaniem szczegółów danego rekordu czy też ze szczegółową listą zakupów jednostkowych, które składają się na dany zakup. Widok ten, oprócz informacji, które zostają wprowadzone w trakcie tworzenia zakupu, wyświetla również sumę cen zakupów jednostkowych składających się na dany zakup, do której obliczenia używa metody <i>ObliczSumę</i> znajdującej się w modelu Zakup.</li>
        </ul>
    </div>
    <div id="baza">
        <h3>Baza danych</h3>
        <h5>Tabele</h5>
        Na bazę danych składa się 5 tabel:
        <ol>
            <li><i>__MigrationHistory</i>-to domyślna tabela migracji tworzona przez framework w celu zarządzania migracjami w bazie danych.</li>
            <li><i>Sprzedawcas</i>-to tabela składająca się z 3 kolumn, w której kluczem  jest identyfikator sprzedawcy(<i>SprzedawcaId</i>)</li>
            <li><i>Warzywoes</i>-tabela składająca się z 4 kolumn, w której kluczem podstawowym jest identyfikator warzywa(<i>WarzywoId</i>)</li>
            <li><i>ZakupJednostkowies</i>-to tabela składająca się z 5 kolumn. Jej kluczem głównym jest identyfikator zakupu jednostkowego(<i>ZakupJednostkowyId</i>). Zawiera też dwa klucze obce: <i>WarzywoId</i> oraz <i>ZakupId</i></li>
            <li><i>Zakups</i>-tabela składająca się z 3 kolumn, w której kluczem podstawowym jest identyfikator zakupu(<i>ZakupId</i>). Jej kluczem obcym jest klucz podstawowy tabeli <i>Sprzedawcas</i></li>
        </ol>
        <h5>Relacje w bazie</h5>
        <p>
            Wszystkie relacje między tabelami występujące w bazie to relacje jeden do wielu. Takimi relacjami połączone są tabele:
            <ul>
                <li><i>Sprzedawcas</i> i <i>Zakups</i>- sprzedawca może realizować wiele zakupów, ale do każdego zakupu jest przypisany tylko jeden sprzedawca.</li>
                <li><i>Warzywoes</i> i <i>ZakupJednostkowies</i>- warzywo może występować w wielu zakupach jednostkowych, ale każdy zakup jednostkowy może składać się tylko z jednego warzywa.</li>
                <li><i>Zakups</i> i <i>ZakupJednostkowies</i>- zakup może składać się z wielu zakupów jednostkowych, ale każdy zakup jednostkowy może być częścią tylko jednego zakupu.</li>
            </ul>
            <h5>Diagram UML</h5>
            <img src="@Url.Content("~/Content/DiagramUML.jpg")" alt="Diagram UML" style="width: 80vw; height: 40vh;" class="obrazek" />
    </div>
</main>