@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Sklep z warzywami</h1>
        <p class="lead">Tworzenie zakupu:</p>
        <p><a href="https://localhost:44360/Zakups/Create" class="btn btn-primary btn-md">Utwórz nowy zakup &raquo;</a></p>
    </section>
    <br />
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">O aplikacji...</h2>
            <p>
                Jeśli chcesz dowiedzieć się więcej o aplikacji, kliknij w poniższy przycisk!
            </p>
            <p><a class="btn btn-outline-dark" href=https://localhost:44360/Home/About>Przejdź do dokumentacji &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <img src="@Url.Content("~/Content/vegetables-gf93312bd7_640.jpg")" alt="Opis obrazka" style="width: 40vw; height: 55vh;" class="obrazek" />
        </section>
    </div>
</main>