@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Sklep z warzywami</h1>
        <p class="lead">Wszystkie warzywa dostępne w sklepie można zobaczyć tu:</p>
        <p><a href="https://localhost:44360/Sprzedawcas" class="btn btn-primary btn-md">Baza warzyw &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-outline-dark" href=https://github.com/MonikaLysiak/sklep_z_warzywami#readme>Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <img src="@Url.Content("~/Content/vegetables-gf93312bd7_640.jpg")" alt="Opis obrazka" width="450" height="300" class="obrazek" />
        </section>
    </div>
</main>